.btn {
    background-color: #D3D3FF;
    font-size: 50px;
    border: 3px solid black;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-family:'Courier New', Courier, monospace;
}

.btn.active {
    background-color: #575799;
    color: white;
}

.btn.inactive {
    opacity: 30%;
}

.btn:hover:not(:disabled) {
    background-color: #9D9DCC;
}